article.chapter {
  .heading__link__edit {
    float:right;
    width: 24px;
    height: 24px;
  }

  .api__index__content {
    ul {
      list-style-type: none;
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1em;
      column-count: 1em;
      vertical-align: baseline;

      li {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}



.access-checkbox {
  display: inline;
  white-space: nowrap;
}

.attributes {
  margin: 10px 0;

  .attribute-label {
    display: inline-block;
    width: 120px;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: $mobile-portrait-screen){
      display: block;
      margin-top: 10px;
    }
  }

  .attribute-value {

    .comma {
      display: inline-block;
      margin-left: -0.28em;
    }
  }
}
