article.chapter {
  h1.module-name {
    display: inline;
  }

  .heading__link__edit {
    float:right;
    width: 24px;
    height: 24px;
    display: block;
    position: relative;

    @media (min-width: $mobile-portrait-screen + 1){
      &::before, &::after {
        transition: 0.2s opacity, 0.2s transform;
      }

      &::before {
        opacity: 0;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        left: -20px;
        bottom: 5px;
        background: gray;
        transform: rotate(-45deg) translateX(-5px) translateY(-5px);
        transform-origin: 50% 50%;
      }

      &::after {
        opacity: 0;
        position: absolute;
        bottom: -4px;
        left: -140px;
        width: 125px;
        content: attr(data-tooltip);
        padding: 2px 0px;
        text-align: center;
        background: gray;
        color: white;
        transform: translateX(-10px);
        border-radius: 3px;
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: rotate(-45deg) translateY(0px);
        }

        &::after {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

  }

  .api__index__content {
    ul {
      list-style-type: none;
      -webkit-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1em;
      column-count: 1em;
      vertical-align: baseline;

      li {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}



.access-checkbox {
  display: inline;
  white-space: nowrap;
  margin-left: 0.8em;
  font-weight: 500;
}

.attributes {
  margin: 10px 0;

  .attribute-label {
    display: inline-block;
    width: 120px;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: $mobile-portrait-screen){
      display: block;
      margin-top: 10px;
    }
  }

  .attribute-value {

    .comma {
      display: inline-block;
      margin-left: -0.28em;
    }
  }
}
