@import "bourbon";
@import "./base/base";
@import "neat";
@import "./components/all";

@import "class";

body {
  margin: 0;
  width: 100%;
}


@include media($large-screen-up) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .sidebar {
    margin-top: 77px;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding-right: 0;
    padding-left: 20px;
    width: 317px;
  }

  main.container {
    margin-top: 77px;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 317px;
    top: 0;
    right: 0;
    max-width: inherit;

    > article {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
