@import "bourbon";
@import "./base/base";
@import "neat";
@import "./components/all";

@import "class";

body {
  margin: 0;
  width: 100%;
}


@include media($large-screen-up) {

  .header {
    position: fixed;
    width: 100%;
  }

  main.container {
    width: 100%;

    > * {
      padding: 15px;
    }

    .sidebar {
      position: fixed;
      bottom: 0;
      top: 80px;
      left: 0;
      overflow:auto;
      width: 400px;
    }

    .content {
      position:fixed;
      left: 400px;
      right: 0;
      top: 80px;
      bottom: 0;
      overflow:auto;

      .chapter {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }

}
