/* stylelint-disable no-descending-specificity, selector-class-pattern */

html {
  scroll-padding-top: var(--spacing-3);
}

.article-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-name {
  display: inline-block;
  margin-bottom: 0;
}

.access {
  color: #fff;
  background-color: var(--color-gray-600);
  margin-left: var(--spacing-1);
  padding: 0.25rem var(--spacing-1);
  font-size: var(--font-size-md);
  border-radius: var(--radius);
  vertical-align: middle;
}

main a.edit-icon {
  height: 1rem;
  width: 16px;
  display: inline-block;
  background: none;
}

.sidebar-container {
  --sidebar-width: min-content;
}

.es-sidebar-content .table-of-contents:first-child {
  margin-block-start: 0;
}

.table-of-contents {
  list-style-type: none;
  padding-left: 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-3);
}

.sub-table-of-contents {
  padding-left: var(--spacing-1);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-2);
}

.sub-table-of-contents .sub-table-of-contents {
  padding-left: var(--spacing-3);
  margin-bottom: 0;
}

.table-of-contents a:link {
  background: none;
}

.sub-table-of-contents .toc-item a {
  display: block;
  padding: var(--spacing-1);
  border-radius: var(--radius);
  line-height: var(--line-height-xs);
  color: var(--color-gray-700);
  border-left: 0 solid transparent;
  transition: border-width 0.3s;
}

.sub-table-of-contents .toc-item a:hover {
  border-left: 4px solid var(--color-gray-400);
  border-radius: 0;
}

.sub-table-of-contents .toc-item.selected > a,
.sub-table-of-contents .toc-item > a.active {
  border-left: 4px solid var(--color-brand-hc-dark);
  border-radius: 0;
}

.table-of-contents li {
  margin: 3px 0;
  list-style-type: none;
  color: var(--color-gray-600);
}

li.toc-heading {
  margin-top: var(--spacing-4);
  color: var(--color-gray-600);
}

li.toc-heading:first-child {
  margin-top: 0;
}

.toc-private-toggle {
  display: block;
  margin-top: var(--spacing-2);
}

a.class-field-description--link {
  margin-left: 12px;
  vertical-align: middle;
  background: none;
  cursor: pointer;
}

a.class-field-description--link svg {
  height: 18px;
  fill: var(--color-gray-600);
  transform: rotate(45deg);
  vertical-align: middle;
}

a.class-field-description--link:hover svg {
  fill: var(--color-brand);
}

.parameter,
.return {
  display: flex;
  gap: var(--spacing-1);
}

.parameter dt,
.return dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.parameter-type,
.return .return-type {
  font-style: italic;
  color: var(--color-gray-600);
}

.on-this-page-wrapper .access-checkbox-list {
  display: flex;
  flex-direction: column;
}

.on-this-page-wrapper .api-index-filter {
  margin-top: var(--spacing-2);
}

.on-this-page-wrapper ul {
  margin-top: 0;
}

section.method,
section.property,
section.event {
  margin-bottom: var(--spacing-3);
}

.whoops {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-6);
}

.whoops img {
  width: 240px;
  margin: var(--spacing-2);
}

@media (width >= 845px) {
  .es-header {
    padding: 0 var(--spacing-4);
    justify-content: start;
  }

  .es-sidebar {
    padding: var(--spacing-4);
    background-color: var(--color-gray-200);
  }

  .content {
    margin-top: var(--spacing-4);
  }
}

@media (width <= 450px) {
  .whoops {
    flex-direction: column;
    padding: var(--spacing-3);
  }

  .whoops img {
    width: 80%;
    margin: var(--spacing-4);
  }

  .whoops__message {
    margin: var(--spacing-2);
    text-align: center;
  }
}
