# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/


public/json-docs/
public/rev-index/


browserstack-local.pid
local.log
.vscode/

# ember-api-docs-data checkout
/ember-api-docs-data/
/ember-api-docs-data
