# See https://help.github.com/ignore-files/ for more about ignoring files.

/concat-stats-for

# Terraform
terraform.tfstate
terraform.tfstate.backup
.env
.envrc

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

public/json-docs/
public/rev-index/
