# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*

# ember-try
/.node_modules.ember-try/


.eslintcache
.lint-todo/

# Misc files 
*.md
pnpm-lock.yaml
jsconfig.json

# api docs data
/ember-api-docs-data/


# hbs -- no point to prettier before moving to <template>
*.hbs
