@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1088px;

// Neat Breakpoints
$medium-screen: 40em; // 640px
$large-screen: 54em; // 864px
$mobile-portrait-screen: 30em; // 480px

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
