ul,
ol {
  margin: 0;
  padding: 0;

  &%default-ul {
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;

    @media (max-width: $mobile-portrait-screen){
      padding-left: 0;
    }
  }

  &%default-ol {
    margin-bottom: $base-spacing;

    > li {
      clear: both;
      padding: $small-spacing 0 $small-spacing 2em;
      position: relative;
      z-index: 1;

      &::before {
        @include position(absolute, ($small-spacing + 0.5em) null null 0);
        @include size(2em);
        border: 2px solid #74B0CE;
        border-radius: 50%;
        float: left;
        line-height: calc(2em - 4px);
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

dd {
  margin: 0;
}
