@import "mixins/hidpi";
@import "mixins/text-adjust";

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    text-transform: none;
  }
}

a {
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active {
    outline: none;
  }
}

hr {
  border-bottom: 1px solid #e6e4e3;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
