// Typography
$base-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
$heading-font-family: $base-font-family;
$monospace-font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
$footer-font-family: proxima-nova, sans-serif;

// Font Sizes
$base-font-size: 18px;
$small-font-size: 0.75em;
$large-font-size: 2em;
// $base-font-size: 1rem;
// $small-font-size: 0.75rem;
// $large-font-size: 1.5rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$top-spacing: $base-spacing * 3.333; // 80px


// Colors
$orange: #E04E39;
$orange-darker: darken($orange, 10);
$orange-darkest: darken($orange, 20);
$orange-lighter: lighten($orange, 20);
$orange-lightest: #f9e7e4; // aka "linen"

$white: #fdfdfd;
$black: #212121;

$blue: #1e719b; //used for tiny accents like the "job board" graphic
$blue-lighter: #74b0ce;
$gray: #454545;
$gray-lighter: #999999;
$gray-lightest: #eeeeee;
$gray-darker: darken($gray, 10%);
$gray-darkest: darken($gray, 15%);

$ember-orange: #E04E39;
$light-brown: #b67d47;
$brown: $orange-darker;
$medium-gray: #999;
$dark-gray: #444545;
$tan: $white;
$white: #fff;
$black: #000;
$creme: #FFFBF5;
$linen: #f9e7e4;
$near-black: #444;

$base-background-color: $white;
$sidebar-background-color: $white;

// Code Highlighting
$highlight-yellow: #F5E090;
$highlight-green: #C3F590;
$highlight-red: #EC605E;
$highlight-blue: #90D7F5;
$highlight-cyan: #78CEC8;
$highlight-added: rgb(93, 125, 93);
$highlight-removed: rgb(144, 84, 84);
$code-background: $dark-gray;
$code-header-background: shade($code-background, 40%);
$code-line-number-background: mix($code-background, $code-header-background);

$highlight-colors: (
  attribute-name: $highlight-red,
  comment: $medium-gray,
  content: $highlight-cyan,
  function: $highlight-red,
  key: $highlight-red,
  keyword: $highlight-yellow,
  local-variable: $highlight-red,
  string: $highlight-cyan,
  tag: $highlight-red,
);

// Font Colors
$base-font-color: $near-black;
$dark-font-color: $dark-gray;
$light-font-color: $light-brown;
$action-color: $ember-orange;

// Border
$base-border-radius: 3px;
$base-border-color: $orange-lighter;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$duration: 200ms;

// Z-indices
$base-z-index: 0;
