<<article class="chapter">
  <h1>
    Ember Data API Documentation
  </h1>
  <hr>
  <p>
    Ember Data is a library for robustly managing data in applications built with Ember.js.
  </p>
  <h2>
    Commonly searched-for documentation
  </h2>
  <ul class="spec-method-list">
    <li>
      <LinkTo @route="project-version.classes.class" @model="Model">
        Model
      </LinkTo>
      - an object that represents the underlying data that your application presents to the user.
    </li>
    <li>
      <LinkTo @route="project-version.classes.class" @model="Store">
        Store
      </LinkTo>
      - a service that contains all of the data for records loaded from the server.
    </li>
    <li>
      <LinkTo @route="project-version.classes.class" @model="Adapter">
        Adapter
      </LinkTo>
      - determines how data is persisted to a backend data store.
    </li>
    <li>
      <LinkTo @route="project-version.classes.class" @model="Serializer">
        Serializer
      </LinkTo>
      - format the data sent to and received from the backend store.
    </li>
  </ul>
  <h2>
    Useful links
  </h2>
  <ul>
    <li>
      <h5>
        <a href="https://github.com/ember-learn/ember-api-docs">
          API Documentation Github Repository
        </a>
      </h5>
    </li>
    <li>
      <h5>
        <a href="https://guides.emberjs.com/release/models/">
          Introduction to Ember Data
        </a>
      </h5>
    </li>
  </ul>
</article>