{{! template-lint-disable no-curly-component-invocation no-link-to-positional-params }}
<<article class="chapter">
  <h1>
    Ember Data API Documentation
  </h1>
  <p>
    Ember Data is a library for robustly managing data in applications built with Ember.js.
  </p>
  <h2>
    Commonly searched-for documentation
  </h2>
  <ul class="spec-method-list">
    <li>
      {{#link-to "project-version.classes.class" "Model"}}
        Model
      {{/link-to}}
      - an object that represents the underlying data that your application presents to the user.
    </li>
    <li>
      {{#link-to "project-version.classes.class" "Store"}}
        Store
      {{/link-to}}
      - a service that contains all of the data for records loaded from the server.
    </li>
    <li>
      {{#link-to "project-version.classes.class" "Adapter"}}
        Adapter
      {{/link-to}}
      - determines how data is persisted to a backend data store.
    </li>
    <li>
      {{#link-to "project-version.classes.class" "Serializer"}}
        Serializer
      {{/link-to}}
      - format the data sent to and received from the backend store.
    </li>
  </ul>
  <h2>
    Useful links
  </h2>
  <ul>
    <li>
      <h5>
        <a href="https://github.com/ember-learn/ember-api-docs">
          API Documentation Github Repository
        </a>
      </h5>
    </li>
    <li>
      <h5>
        <a href="https://guides.emberjs.com/release/models/">
          Introduction to Ember Data
        </a>
      </h5>
    </li>
  </ul>
</article>