<ul class="table-of-contents">
  <li class="toc-item" data-test-home>
    <LinkTo @route="project" @model="ember">Home</LinkTo>
  </li>
  <li>Projects</li>
  <ul class="sub-table-of-contents">
    <li class="toc-item"><LinkTo @route="project" @model="ember" @current-when={{eq @activeProject "ember"}} class="spec-ember">Ember</LinkTo></li>
    <li class="toc-item"><LinkTo @route="project" @model="ember-data" @current-when={{eq @activeProject "ember-data"}} class="spec-ember-data">EmberData</LinkTo></li>
    <li class="toc-item"><LinkTo @route="project" @model="ember-cli" @current-when={{eq @activeProject "ember-cli"}} class="spec-ember">Ember CLI</LinkTo></li>
  </ul>
</ul>