.back-to-top {
  transition: opacity $duration;
  color: $action-color;
  display: none;
  margin-left: 1em;
  text-align: center;

  @media (max-width: 89em) {
    @include size(1.5em);
    overflow: hidden;
  }

  @media (max-width: 78em) {
    height: 0;
  }
}
