.chapter li {
  margin: $small-spacing 0;

  @media (max-width: $mobile-portrait-screen) {
    margin: 0;
  }
}

.chapter ul + .highlight {
  margin-top: $base-spacing;
}

.args {
  color: $light-brown;
  font-style: italic;
  font-weight: normal;
  font-size: $base-font-size;
}

.class-field-description--link .return-type,
.return .return-type,
.parameter .parameter-type {
  color: $medium-gray;
  font-style: italic;
  font-weight: normal;
  font-size: $base-font-size;
  margin-right: 5px;
}

.access {
  color: white;
  background-color: gray;
  padding: 2px 7px;
  font-size: 1.6em;
  font-weight: 600;
  border-radius: 3px;
}

h3 .access{
  font-size: smaller;
}

.parameters {
  dl {
    display: inline-block;
  }
  dt {
    display: inline-block;
  }
  dd {
    display: inline-block;
  }
}

.method, .property, .event {
  border-bottom: $base-border;

  .method-name, .property-name, .event-name {
    font-family: $monospace-font-family;
  }
}

p.github-link {
  margin: -12px 0 0;
  font-size: $small-font-size;
}

p.field-since {
  margin: 0;
  font-size: $small-font-size;
}

.class-field-description--link {
  cursor: pointer;

  .anchor {
    float: left;
    margin-left: -28px;
    padding: 4px 0 0 4px;
  }

  .class-field-description--link-hover {
    visibility: hidden;
  }

  &:hover .class-field-description--link-hover {
    visibility: visible;
  }
}
