main {
  @media screen and (min-width: $large-screen) {
    display: flex;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  &::after {
  	clear: both;
  	content: '';
  	display: table;
  }
}
