@media only percy {
  .filename {
    display: none;
  }
}

div.filename {
  background-color: #292929;
}

pre[class*="language-"] {
  background-color: #444545;
}

.filename {
  border-radius: 0.3em;
}

.ribbon {
  top: 0.33em;
  z-index: 100;
  position: absolute;
  right: 0;
  height: 20px;
  width: 52px;
  background: 0 0 no-repeat;
  background-size: 52px 20px;
}

.filename > span {
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.8em;
  color: lightgrey;
  display: block;
  padding: 5px 0 0 10px;
}

.filename.javascript .ribbon,
.filename.js .ribbon {
  background-image: url("../images/ribbon-js.svg");
}

.filename.html .ribbon {
  background-image: url("../images/ribbon-html.svg");
}

.filename.handlebars .ribbon,
.filename.hbs .ribbon {
  background-image: url("../images/ribbon-hbs.svg");
}

code:not([class*="language-"]) {
  background-color: #F8E7CF;
  border-radius: 3px;
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  margin: 0 0.1em;
  -webkit-font-feature-settings: "kern", "tnum";
  -moz-font-feature-settings: "kern", "tnum";
  -ms-font-feature-settings: "kern", "tnum";
  font-feature-settings: "kern", "tnum";
}


.line-numbers-rows {
  span {
    color: $medium-gray;
    text-align: center;
    width: 2em;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    background-color: $code-background;
  }
}

