.sidebar {

  @media (min-width: $large-screen-up) {
    margin-right: 0;
    border-bottom: 0;
    padding: $small-spacing $base-spacing $base-spacing * 1.5;
  }

  @media (min-width: 1200px) {
    width: 22em;
  }

  .select2 {
    margin-bottom: 1em;
  }
}

label[for="toc-toggle"] {
  cursor: pointer;
  position: relative;

  &:hover {
    color: $ember-orange;
    &:after {
      border-color: $ember-orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }
    .toc-toggle:checked ~ &:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $ember-orange rgba(0, 0, 0, 0);
    }
  }

  &:after {
    content: '';
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 0;
  }

  .toc-toggle:checked ~ &:after {
    border-width: 0 4px 5px 4px;
  }

  @media screen and (min-width: $large-screen) {
    display: none;
  }
}

.toc-container {
  border-top: $base-border;
  overflow: hidden;
  display: none;

  .toc-toggle:checked ~ & {
    display: block;
  }
  @media screen and (min-width: $large-screen) {
    display: block;

    // ensure toc-toggle can not cause toc-container to be hidden on large screen
    &[style] {
      display: block !important;
    }
  }
}

ol.toc-level-1 {
  border-left: 1px solid #74B0CE;

  // override ember-styleguide link color
  a {
    color: #42474f;
    padding-left: 2rem;
  }

  &:not(.selected) {
    display: none;
  }

  li {
    border-left: 3px solid transparent;
    transition: border-width $duration, margin-right $duration;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    &.selected,
    &:hover {
      border-left-color: #74B0CE;
    }

    &:hover {
      border-left-width: 6px;
      margin-right: -3px;
    }
  }
}
