.tabbed-layout {
  margin-top: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: $mobile-portrait-screen){
    border: 0;
    border-radius: 0;
  }

  .api-index-filter, section {
    padding: 0 1em;

    @media (max-width: $mobile-portrait-screen){
      padding: 0;
    }
  }

  .tabbed-layout__menu {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    border-bottom: solid 1px e6e4e3;
    margin: 0 0;
    padding: 0 0;

    &__item {
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      padding: 0 0;
      margin: 0 0 1em 0;
      border-top: solid 1px #fafafa;
      border-right: solid 1px #e6e4e3;
      border-left: 1px solid transparent;
      background-color: #f3f3f3;
      background-image: linear-gradient(0deg, #f3f3f3, #ebebeb);
      padding: 0.5em 1em;
      text-align: center;
      font-weight: normal;
      color: #443331;
      font-family: 'Helvetica Neue';
      width: 100%;

      &:hover {
        background-color: #ebebeb;
        background-image: linear-gradient(0deg, #ebebeb, #f3f3f3);
        border-bottom: none;
      }

      &:first-of-type {
        border-left: none;
        border-top-left-radius: 4px;
      }

    }

    &__item_selected {
      background-image: linear-gradient(0deg, #e7624b, #f67862);
      color: white;
      border-right: 1px solid #f67862;
      border-top: 1px solid rgba(255, 255, 0, 4);

      &:hover {
        background-image: linear-gradient(0deg, #e7624b, #f67862);
        color: white;
        border-bottom: none;
      }
    }

    &__item, &__item_selected {
      &, &:first-of-type {
        @media (max-width: $mobile-portrait-screen){
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}
