.tabbed-layout {
  margin-top: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;

  hr {
    margin: 0.5em 0;
  }

  @media (max-width: $mobile-portrait-screen){
    border: 0;
    border-radius: 0;
  }

  .api-index-filter, section {
    padding: 0 1em;

    @media (max-width: $mobile-portrait-screen){
      padding: 0;
    }
  }

  .tabbed-layout__menu {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0.5em;
    padding: 0;

    &__item {
      cursor: pointer;
      flex-grow: 1;
      border-right: solid 1px #e6e4e3;
      border-bottom: 1px solid #dadada;
      border-left: 1px solid transparent;
      background-color: #f3f3f3;
      background-image: linear-gradient(0deg, #f3f3f3, #ebebeb);
      padding: 0.5em 1em;
      text-align: center;
      font-weight: normal;
      color: #443331;

      &:hover {
        background-color: #ebebeb;
        background-image: linear-gradient(0deg, #f9f9f9, #ebebeb);
      }

      &:first-of-type {
        border-left: none;
        border-top-left-radius: 4px;
      }
    }

    &__item_selected {
      cursor: default;
      background-image: linear-gradient(0deg,#fdfdfd,#fff4e5);
      color: #2f2f2f;
      border-right: 1px solid #d4d2d0;
      border-left: 1px solid #d4d2d0;
      border-top: 3px solid #e77563;
      border-bottom: 1px solid transparent;
      font-weight: 600;

      &:hover {
        background-image: linear-gradient(0deg,#fdfdfd,#fff4e5);; 
        color: #2f2f2f;
        border-bottom: 1px solid transparent;
      }

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    @media (max-width: $mobile-portrait-screen){
      &__item, &__item_selected {
        &, &:first-of-type {
          border: 0;
          border-radius: 0;
          padding-left: 0;
          padding-right: 0;
        }

        &:not(:last-of-type){
          border-right: solid 1px #e6e4e3;
        }
      }
    }
  }
}
