<article class="chapter">
  <h1>{{model.name}}</h1>

  <p>{{{model.description}}}</p>
  <section>
    <h2>Methods</h2>

    <ul class="spec-method-list">
      {{#each model.methods as |method|}}
        <li>
          {{#link-to 'methods.method' model.project.id model.projectVersion.version model.name method.name}}
            {{method.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </section>

  {{outlet}}

</article>
