.anchorable-toc {
  position: relative;

  &:hover a.toc-anchor {
    display: block;
  }
}

a.toc-anchor {
  color: $base-font-color;
  display: none;
  position: absolute;
  text-decoration: none;
  border: none;
  left: -1em;
  width: 30px;
  height: 13px;
  background: url('/assets/images/link.png') no-repeat;
  background-size: 18px 9px;
  left: -22px;
  opacity: 0.5;
  top: 50%;
  margin-top: -5px;
}

.toc-private-toggle {
  font-size: $small-font-size;
}

.toc-level-0 > a {
  transition: color 0.1s linear;
}
