{{#es-header}}
  {{#es-navbar links=links}}
    {{search-input}}
  {{/es-navbar}}
{{/es-header}}
<main class="container">
  {{outlet}}
</main>
{{main-footer}}


{{!-- required by ember-cli-meta-tags --}}
{{head-layout}}
