{{#es-header}}
  {{search-input}}
{{/es-header}}
<main class="container margin-vertical-medium layout-grid">
  {{outlet}}
</main>
{{es-footer}}

{{!-- required by ember-cli-meta-tags --}}
{{head-layout}}
