<header class="header responsive">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-logo">
        <a href="http://emberjs.com/"><span class="visually-hidden">Ember homepage</span></a>
      </li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="http://guides.emberjs.com">Guides</a></li>
      <li class="api-docs">{{link-to 'API' 'index'}}</li>
      <li><a href="/community">Community</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/builds">Builds</a></li>
      {{!--<li class="header-search">
        {{search-input}}
      </li>--}}
    </ul>
  </nav>
</header>

<main class="container">
  {{outlet}}
</main>
{{main-footer}}
