<EsHeader>
  <EsNavbar @links={{this.links}}>
    <SearchInput />
  </EsNavbar>
</EsHeader>
<main class="container margin-vertical-medium layout-grid">
  {{outlet}}
</main>
<EsFooter />

{{!-- required by ember-cli-meta-tags --}}
<HeadLayout />
