{{!-- Template is copied from project-version.hbs --}}
<aside class="sidebar">
  <ol class="toc-level-0">
    <li class="toc-level-0" data-test-home>
      {{#link-to 'project' 'ember'}}Home{{/link-to}}
    </li>
    <li class="toc-level-0">
      Projects
      <ol class="toc-level-1 selected" style="display: block;">
        <li class="toc-level-1">{{#link-to 'project' 'ember' current-when=(eq activeProject 'ember') class="spec-ember"}}Ember{{/link-to}}</li>
        <li class="toc-level-1">{{#link-to 'project' 'ember-data' current-when=(eq activeProject 'ember-data') class="spec-ember-data"}}Ember Data{{/link-to}}</li>
        <li class="toc-level-1">{{#link-to 'project' 'ember-cli' current-when=(eq activeProject 'ember-cli') class="spec-ember"}}Ember CLI{{/link-to}}</li>
      </ol>
    </li>
  </ol>
</aside>
<section class="content">
  <article class="chapter">
    <h1>Ember CLI API Documentation</h1>
    <p>Ember CLI API documentation is available on <a href="https://ember-cli.com/api">ember-cli.com/api</a>.</p>
  </article>
</section>
