{{page-title "Page Not Found"}}

<div class="whoops">
  <img src="/assets/images/stinky-fish.png" alt="tomster stinky fish"/>
  <h2 class="whoops__title">Ack! 404 friend, you're in the wrong place</h2>
    <span>
      <LinkTo @route='index' class="whoops__message">Click here to go home</LinkTo>
    </span>
</div>