<article class="whoops">
  <img src="/assets/images/stinky-fish.png" alt="tomster stinky fish"/>
  <h2 class="whoops__title">Ack! 404 friend, you're in the wrong place</h2>
  <div class="whoops__message">
    <span>
      <LinkTo @route='index'>Click here to go home</LinkTo>
  </span>
  </div>
</article>
