<aside class="sidebar col-1-large col-6">
  <ol class="toc-level-0">
    <li class="toc-level-0 large margin-bottom-small  list-unstyled" data-test-home>
      {{#link-to 'project' 'ember'}}Home{{/link-to}}
    </li>
    <li class="toc-level-0 large margin-vertical-small  list-unstyled">
      <span class="toc-spacing">Projects</span>
      <ol class="toc-level-1 selected" style="display: block;">
        <li class="toc-level-1 medium regular padding-left-small list-unstyled">{{#link-to 'project' 'ember' active=(eq activeProject 'ember') class="spec-ember"}}Ember{{/link-to}}</li>
        <li class="toc-level-1 medium regular padding-left-small  list-unstyled">{{#link-to 'project' 'ember-data' active=(eq activeProject 'ember-data') class="spec-ember-data"}}Ember Data{{/link-to}}</li>
        <li class="toc-level-1 medium regular padding-left-small  list-unstyled">{{#link-to 'project' 'ember-cli' active=(eq activeProject 'ember-cli') class="spec-ember-cli"}}Ember CLI{{/link-to}}</li>
      </ol>
    </li>
  </ol>

  <div class="select-container">
    {{#power-select
      onchange=(route-action "updateProject" activeProject)
      options=projectVersions
      selected=selectedProjectVersion
      ariaLabel="Select a version"
      required=true
      searchField="compactVersion"
      as |ver|
    }}
      {{ver.compactVersion}}
    {{/power-select}}
  </div>

  {{table-of-contents
    projectId=model.project.id
    version=urlVersion
    classesIDs=shownClassesIDs
    moduleIDs=shownModuleIDs
    namespaceIDs=shownNamespaceIDs
    showPrivateClasses=showPrivateClasses
    isShowingNamespaces=(version-lt selectedProjectVersion.compactVersion '2.16')
  }}
</aside>
<section class="content col-6 col-5-large">
  {{outlet}}
</section>
