<aside class="sidebar">
  <ol class="toc-level-0">
    <li class="toc-level-0">Projects
      <ol class="toc-level-1 selected" style="display: block;">
        <li class="toc-level-1">{{#link-to 'project' 'ember' active=(eq activeProject 'ember')}}Ember{{/link-to}}</li>
        <li class="toc-level-1">{{#link-to 'project' 'ember-data' active=(eq activeProject 'ember-data')}}Ember Data{{/link-to}}</li>
      </ol>
    </li>
  </ol>
  {{#x-select value=model action="updateProject" default=model.id project=model.project class="spec-versions-box"}}
    {{#each projectVersions as |projectVersion|}}
      {{#x-option value=projectVersion}}{{projectVersion.minorVersion}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  {{table-of-contents version=model.version classesIDs=classesIDs}}
</aside>
{{outlet}}
